@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 90px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
    background: #2A2E4B;
    height: 100vh;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.container {
    display:flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-evenly;
    flex-basis: 250px;
    gap: 50px;
    padding: 25px;


}
.first {
    display:flex;
    flex-direction: column;
    gap: 25px;
}
#main_title {
    color:#7C8CFE;
    font-weight:bold;
    font-size: 50px;
    border-bottom: 2px solid white;
    align-self: flex-start;
}
#main_description {
    color:white;
    font-size: 25px;
}
#btn_action {
    background:none;
    outline:none;
    background:none;
    border:none;
    background: #FF6A6A;
    border-radius: 50%;
    color:white;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    transition: .5s transform;
    display:flex;
    align-items:center;
    justify-content:center;
}
#btn_action:hover {
    cursor:pointer;
    transform: scale(1.1);
}
.fa-microphone {
    font-size: 25px;
    padding: 15px;
}
svg {
    width: 50px;
    height: 50px;
}
#inside_aligner {
    display:flex;
    gap: 25px;
    align-items: center;
    margin-top: -50px;

}
#status {
    color:white;
}
.second {
    background:white;
    padding: 25px;
    border-radius: 25px;
    display:flex;
    flex-direction:column;
    gap: 15px;
    width: 500px;
    box-shadow: 6px 6px 6px black;
    overflow-y:scroll;
    height: 250px;

}
#input_main {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline:none;
    border:none;
}
#input_aligner {
    display:flex;
    align-items:center;
 
   
}
.fa-sticky-note-o {
    background:#FF6A6A;
    padding: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
.fa-sticky-note-o:hover {
    cursor:pointer;
}

li {
    padding: 15px;
    list-style-type: none;
}